<!--vehicles for sale View-->
<link href="~/Content/css/home.css" rel="stylesheet" />
<link href="~/Content/css/location.css" rel="stylesheet" />
<link href="~/Content/css/listview.css" rel="stylesheet" />
<div class="row">
    <div class="row pre-header" style="padding-top:0px;">
        <hr class="top-separate-line" />
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <div class="row" style="padding-top:0px;">
                    <div class="col-md-3" style="text-align:center;">
                        <br />
                        <img src="~/Content/images/DateRv.jpg" style="width:150px; height:150px;" />
                    </div>
                    <div class="col-md-9">
                        <h3 style="color:black; padding-left:30px; padding-right:30px;">RV Consignment<br />Used RV's For Sale in Southern California</h3>
                        <br />
                        <p style="color:black; padding-left:30px; padding-right:30px;">
                            SMC has late model rental RVs FOR SALE at a discounted prices. These RV's are currently in our rental fleet and are in excellent condition.
                            We keep them in tip top shape. Some of our current RV owners have requested for their vehicles to be in the rental fleet and available for
                            sale to the public.
                            <br><br>
                            <strong>
                                <font color="red">
                                    Date an RV before You Marry it
                                </font>
                            </strong>
                            is a great idea. We have over 200 RV's at our locations in California and Arizona for you to
                            rent and then buy.
                        </p>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="row" style="text-align:center;">
                            <h3 style="color:#000000;">All Vehicles For Sale</h3>
                        </div>
                    </div>
                    <div class="col-md-7"></div>
                    <div class="col-md-2">
                        <div class="row" style="margin:0 auto; align-content:center; text-align:center; padding-top:15px;">
                            <button class="btn" type="button" onclick="ViewPrimaryVehicleList()"><span class="glyphicon glyphicon-th-list" style="color:black;"></span></button>
                            <button class="btn" type="button" onclick="ViewSecondaryVehicleList()">
                                <span class="glyphicon glyphicon-menu-hamburger" style="color:black;"></span>
                                <span class="glyphicon glyphicon-menu-hamburger" style="color:black;"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <div id="primary-vehicle-list">
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="secondary-vehicle-list"></div>
            </div>
        </div>
    </div>
    <!--START video range-->
    @Html.Partial("~/Views/Shared/_VideoSection.cshtml")
    <!--END video range-->
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#secondary-vehicle-list").css('display', 'none');
        LoadVehicleForSalePage();
    });

    function LoadVehicleForSalePage(id)
    {
        var webapi_path = '@System.Configuration.ConfigurationManager.AppSettings["RMXWebService"]';

        $.ajax({
            type: "GET",
            dataType: "json",
            url: webapi_path + "salefeatured?token=AIzaSyAJSErr4vFLsOoylqQYkfQLKM26lnsHLXY",
            success: function (data) {
                jsonValue = jQuery.parseJSON(JSON.stringify(data));
                getVehiclesForSale(jsonValue);
            },
            error: function (error) { console.log(error.responseText); }
        });
    }

    function getLocationList(obj)
    {
        //console.log(obj);
        var website = '@System.Configuration.ConfigurationManager.AppSettings["WebSite"]';
        var list = '';
        if(obj.length > 0){
            for(var i = 0; i < obj.length; i++){
                list += '<li><a class="nolineA" href="' + website + 'VehiclesForSale?location=' + obj[i].State + '-' + obj[i].City + '">' + obj[i].City + ', ' + obj[i].State + '</a></li>';
            }
        }
        else{
            list = '<h3 style="color:red;">Not Found Location Informations !</h3>';
        }

        document.getElementById('location-list').innerHTML = list;
    }

    function getVehiclesForSale(obj) {
        //console.log(obj);
        var primary_html = '', secondary_html = '';
        for (var i = 0; i < obj.length; i++)
        {
            primary_html += GeneratePrimaryVehicleList(obj[i]);
            secondary_html += GenerateSecondaryVehicleList(obj[i]);
        }
        if (primary_html) {
            document.getElementById('primary-vehicle-list').innerHTML = '<br/>' + primary_html;
        }
        else {
            document.getElementById('primary-vehicle-list').innerHTML =
                '<br/><br/><h4 style="color:red; font-style:italic; text-align:center;">Please check back soon.<br /> There are currently no vehicles for sale</h4><br/><br/><br/><br/>';
        }
        if (secondary_html) {
            document.getElementById('secondary-vehicle-list').innerHTML = '<br/>' + secondary_html;
        }
        else {
            document.getElementById('secondary-vehicle-list').innerHTML =
                '<br/><br/><h4 style="color:red; font-style:italic; text-align:center;">Please check back soon.<br /> There are currently no vehicles for sale</h4><br/><br/><br/><br/>';
        }
    }

    function GetCurrency(value)
    {
        if (value) {
            var currency = '$' + value.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
            return currency;
        }
        else {
            return "$0";
        }
    }

    function GeneratePrimaryVehicleList(list)
    {
        var currency = GetCurrency(list.SalePrice);
        var photo_div = '', desc_div = '', name_div = '', daily_div = '', description_div = '', email_div = '';
        photo_div = '<a href="Vehicle-Sale/'+ list.WebUniqueId + '"><img src="data:image/jpg;base64, ' + list.Photo + '" class="img-responsive vehicle-list-img" style="padding-left:0px;" /><br/></a>';
        name_div = '<div class="row daily-div"><div class="col-lg-12"><h4>' + list.Name + '</h4></div></div>';
        daily_div = '<div class="row daily-div"><div class="col-lg-3"><h5>Seller: ' + list.WebForSaleSellerName + '</h5></div>'
                    + '<div class="col-lg-4 col-md-4 col-sm-4" style="margin-top:14px;"><span style="color:black;">TEL : </span><a href="#">' + list.PrimaryPhone + '</a></div>'
                    + '<div class="col-lg-5 col-md-5 col-sm-5"><h5>Price: ' + currency + '</h5></div></div>';
        description_div = '<div class="row description"><span>' + list.ForSaleDesc + '</span></div>';
        email_div = '<div class="row daily-div"><div class="col-lg-7 col-md-7 col-sm-7"><h5 style="padding-top:0px;">' + list.PrimaryEmail + '</h5></div>'
                    + '<div class="col-lg-5 col-md-5 col-sm-5" style="text-align:center;"><a href="Vehicle-Sale/'+ list.WebUniqueId + '" class="btn btn-danger">Details</a></div></div>';

        desc_div = '<div class="listview-div" style="margin-left:0px; margin-right:0px;">' + name_div + daily_div + description_div + email_div + '</div>';

        var g_html = '<div class="row" style="padding-bottom:20px;"><div class="col-lg-4 col-md-4">' + photo_div + '</div><div class="col-lg-8 col-md-8">' + desc_div + '</div></div>';
        return g_html;
    }

    function GenerateSecondaryVehicleList(list)
    {
        var g_name, g_photo;
        var currency = GetCurrency(list.SalePrice);
        if(list.IsSquarePhoto == true){
            g_photo = '<img src="data:image/jpg;base64, ' + list.Photo + '" class="clip-vehicle-img" />';
            g_name = '<h5 class="vehicle-license" style="margin-top:137px;">' + list.Name + '</h5>';
        }
        else{
            g_photo = '<img src="data:image/jpg;base64, ' + list.Photo + '" class="vehicle-img" />';
            g_name = '<h5 class="vehicle-license">' + list.Name + '</h5>';
        }
        var tile = '<div class="vehicle-div" style="text-align:center; height:230px;"><a href="Vehicle-Sale/' + list.WebUniqueId + '">' +
                    g_photo + g_name + '<p class="vehicle-price" style="margin-top:5px;">Price: ' + currency + '</p></a></div><br/>';

        var g_html = '<div class="col-lg-3 col-md-3 col-sm-4 vehicle-info">' + tile + '</div>';
        return g_html;
    }

    function ViewPrimaryVehicleList()
    {
        $('#primary-vehicle-list').css('display', 'block');
        $('#secondary-vehicle-list').css('display', 'none');
    }

    function ViewSecondaryVehicleList()
    {
        $('#primary-vehicle-list').css('display', 'none');
        $('#secondary-vehicle-list').css('display', 'block');
    }
</script>