<div class="input-group vehicle-search-div hidden-xs">
    <input type="text" id="input-vehicle-search-on-web" class="form-control" placeholder="VEHICLE NUMBER" style="font-size:12px; float:right; width:20%;">
    <span id="search-error-status" class="invisible-search-error">Not Found</span>
    <div class="input-group-btn" style="padding-bottom:16px;">
        <button class="btn btn-success btn-search" id="btn-vehicle-search-on-web">
            GO&nbsp;&nbsp;<i class="glyphicon glyphicon-search"></i>
        </button>
    </div>
</div>