<!--RVOwners View-->
<link href="~/Content/css/home.css" rel="stylesheet" />
<div class="row">
    <div class="row pre-header">
        <hr class="hidden-xs" style="border:1px solid #eeeeee; margin-bottom:20px; margin-top:-10px;" />
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h1 style="color:#000000; font-size:30px;">RV Owners</h1>
                <br />
                <br />
                <span style="color:black; font-weight:normal;">If you own a late model  Class-A, Class-C, Travel Trailer or Toy Hauler contact us about joining SMC. <br /> Stop paying for repairs and storage and start making some income from your RV investment.</span>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <br />
                <br />
                <span style="color:black;">For more information on how to put your RV to work making you income give us a call and we'll be happy to give you all of the details on how the SMC program can work for you.</span>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <br />
                <br />
                <h3 style="color:#000000;">Let SMC do the maintenance, you enjoy your RV when you wish </h3>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <br />
                <span style="color:black; font-weight:normal;">We take care of all standard maintenance at no direct cost to you: Oil and filter changes, tire rotation and replacement when needed, battery service and replacement and much much more. SMC cares for your vehicle like a partner should.</span>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <br />
                <br />
                <h3 style="color:#000000;">Don't have an RV or want to upgrade one, let SMC help</h3>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <br />
                <span style="color:black; font-weight:normal;">If you're interested in purchasing or upgrading your RV why not let SMC make it easy? Our owners find our program a great way to own a recreational RV and make money doing so. We have coaches where you can take over payments with little or no money down. Some with a positive rental cash flow!</span>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <br />
                <br />
                <h3 style="color:#000000;">SMC now offers franchise opportunities in selected areas. </h3>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <br />
                <span style="color:black; font-weight:normal;">Want to learn more about  how you may be able to join in and become a SMC franchise? Are you looking for a fun and exciting business opportunity that has growth potential?  Then you may be ready to start your adventure in the RV rental business. When you join our team of dedicated franchise owners you will not be starting from scratch. You will learn from our proven system with training ready to go. We will provide you with the rental software and website with search engine placement. All of the forms and paper work needed, commercial insurance contracts, accounting and much more. SMC provides hands on training at our location centrally located in Southern California. To start all you need to do is pick up the phone and make the call to see if your right for this exciting recreational industry. You set your schedule, you set your income level and SMC will help you along your journey in the privately owned RV rental industry.</span>
                <br />
                <br />
                <br />
                <span style="color:black; font-weight:normal;">When starting any business there are questions you need to ask, so talk to your attorney or adviser and then call.</span>
                <br />
                <br />
                <br />
                <br />
                <span style="color:black; font-weight:normal;">For more information contact us today and start a great business tomorrow!</span>
                <br />
                <br />
                <span style="color:black; font-weight:normal;">Contact: Joe Hill  @@714-747-6684</span>
                <br />
                <br />
                <a href="mailto:joehill@ShareMyCoach.com"><font color="#0066cc">JoeHill@ShareMyCoach.com</font></a>
                <br />
                <br />
                <img src="https://sharemycoach.buysecured.net/UserData/Content/Images/office%20photo%20for%20Face%20Book.jpg" class="img-responsive" alt="office photo" title="office photo" align="left" border="0">
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <br />
                <span style="color:black; font-weight:normal;">New location 12210 Beach Blvd Stanton, Ca 90680</span>
                <br />
                <br />
                <br />
                <span style="color:black; font-weight:normal;">We offer RV rentals, fractional Ownerships and take over payment programs. Place your existing RV in our fleet, rent an RV, or purchase an RV we're here to help.</span>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
    </div>

    <!--START video range-->
    @Html.Partial("~/Views/Shared/_VideoSection.cshtml")
    <!--END video range-->
</div>

