<!--General Info View-->
<link href="~/Content/css/home.css" rel="stylesheet" />
<div class="row">
    <div class="row pre-header">
        <hr class="hidden-xs" style="border:1px solid #eeeeee; margin-bottom:20px; margin-top:-10px;" />
        <div class="row" id="titleDiv">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <br />
                <br />
                <h1 style="color:#000000; font-size:30px;">Rental Program</h1>
                <br />
                <a href="#" id="optionItems">Optional Items</a>/
                <a href="#" id="requirements">Requirements</a>/
                <a href="#" id="deposits">Deposits & Payments </a>/
                <a href="#" id="cancellations">Cancellations & Changes</a>
                <br />
                <br />
                <br />
                <ol><li>ShareMyCoach.com (SMC) offers privately owned&nbsp;rentals based on a per day rental. Minimum rental periods&nbsp;vary from 3 to 7 days. Minimum rental period during holidays and special events&nbsp;are&nbsp;4 days. Pickups and returns are by appointment, but we're flexible. All rentals originate at our&nbsp;Orange County location unless other arrangements have been made in advance. Rates are subject to change without notice. 3 day rental rates slightly higher. No sales tax required as all coaches are privately owned and the sales tax for the coach was paid at the time of purchase by the owners. </li>				<li>100 to 150 miles per rental day are included in the rental price. Excess miles&nbsp;range from $.35 to $1.20 per mile. <br></li>				<li>ShareMyCoach Privately Owned RV Rentals will provide you with a&nbsp;rental agreement to be&nbsp;given to your insurance company so that they may provide&nbsp;a policy binder covering the RV rental period. The&nbsp;completed&nbsp;insurance binder must be returned to our office a minimum of 2 days prior to departure. The least expensive way to insure your rental vehicle is through your insurance company. If&nbsp;your insurance policy does&nbsp;not allow this kind of an RV rental binder, then contact us regarding&nbsp;a commercial insurance policy. Renters will be&nbsp;responsible to pay a damage deposit equal to the insurance deductible on any policy used to cover the rental period. Upon the successful completion of the rental period if no&nbsp;damages occurred the deposit will be returned.&nbsp;Renter is responsible for ALL damages. Commercial Insurance is only for Vehicle&nbsp;collision as it does not cover any other damages!&nbsp;<br></li>				<li>Most RV's and trailers are equipped with a generator. The first&nbsp;4 hours of usage is included per rental day and excess hours are charged at $4.00 each. The generator is not required for normal vehicle driving operation. <br></li>				<li>Interior Cleaning Charges are Mandatory: Starting at $75 and up to $150 for the larger Class A diesel rigs. Please note this charge is for basic cleaning and additional fees will be billed if unit is abused.<ul style="list-style-type: square; list-style-position: outside;"><li>All of our motor homes and travel trailers are non-smoking units. An additional&nbsp;fee of up to $500&nbsp;may be charged for motor homes or trailers returned with smoke, or&nbsp;camp fire smoke damage. </li><li>Most coaches do not allow pets.&nbsp;A Fee&nbsp;up to&nbsp;$250&nbsp;will be charged for the removal of pet hair/odor. </li></ul></li>				<li>Other Charges: <ul style="list-style-type: square; list-style-position: outside;"><li><strong>Fuel Charge:</strong> The RV must be returned with at least the same amount of fuel as when it was dispatched. Additional fuel will be charged at current prices and we do charge $25 to take it and refill it. So please fill it back to the level you received it. </li><li>Delivery Fee: RV and trailer delivery is available&nbsp;starting at $100 plus $1 per mile from the dispatch office.&nbsp;Motor Home mileage starts/ends&nbsp;at the dispatch address. <a href="#" id="top1">(top)</a></li></ul></li></ol>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row" id="optionItemsDiv">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <br />
                <br />
                <h3 style="color:#000000;">Optional Items </h3>
                <br />
                <br />
                <br />
                <ol><li>In a hurry at return? No problem, we have already included a return cleaning fee so you're on your way fast. No need to dump the coach, clean the coach or refill the propane.</li>				<li>House Keeping Kits are not needed as we outfit the RV with them. If you need bedding and linens they are provided on a per bed basis. They start at $25/bed and include Linens, towels, bed sheets, bedding&nbsp;&amp; pillows.&nbsp; </li>				<li>Bike Rack: $5 per day. <a href="#" id="top2">(top)</a></li><li>GPS provided at $4 per day. </li></ol>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row" id="requirementsDiv">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <br />
                <br />
                <h3 style="color:#000000;">Requirements </h3>
                <br />
                <br />
                <br />
                <ol><li>Renter must be at least 25 years of age with a valid driver’s license present at check out. All drivers must be included on the contract and be present at the time of departure. <br></li>				<li>Renter must have a valid credit card in his or her own name and provide us with an imprint at dispatch. <br></li>				<li>Renter must provide&nbsp;an auto insurance&nbsp;binder from their personal auto policy. To see if your insurance is listed as one that will proved the policy see INSURANCE COMPANY link on the home page. In the event a policy is not available we may be able to provide one for you.&nbsp;<a href="#" id="top3">(top)</a></li></ol>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row" id="depositsDiv">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <br />
                <br />
                <h3 style="color:#000000;">Deposits & Payments </h3>
                <br />
                <br />
                <br />
                <ol><li>Our wholesale pricing model requires all reservations to be paid in full when you are ready to secure your travel dates. Please only book when your ready as we offer No refunds only a credit for a future rental. When you book the coach it's yours for the specified time frame and you will receive your coach, clean and ready for your trip.&nbsp;Should your coach not be available for any reason we will offer you a replacement coach or we will upgrade you to the next level coach.<br></li>				<li>Damage deposits range from $500 to $2,500. The&nbsp;rental damage&nbsp;security deposit is fully refundable and due upon&nbsp;departure.&nbsp; The deposit will be used towards insurance deductible, damage to the RV and/or any additional fees.&nbsp;&nbsp;After return check-in the remaining deposit will be calculated and returned within&nbsp;5 days.<br></li>				<li>We accept all major credit cards. <a href="#" id="top4">(top)</a></li></ol>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row" id="cancellationsDiv">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <br />
                <br />
                <h3 style="color:#000000;">Cancellations & Changes </h3>
                <br />
                <br />
                <br />
                <ol><li>No Charge&nbsp;for driver additions or deletions. <br></li>				<li>No refunds will be given for days originally booked but then shortened. <br></li>				<li>No refunds given for early returns. A late fee of $50 per hour up to 3 then a full day rental charge will be due if more than 3 hours late. <a href="#" id="top5">(top)</a><br><br></li></ol>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row" style="text-align:center;">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <br />
                <br />
                <span style="color:black;">All information in this web site is subject to change without notice. Pricing subject to change.</span>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <br />
        <br />
    </div>

    <!--START video range-->
    @Html.Partial("~/Views/Shared/_VideoSection.cshtml")
    <!--END video range-->
</div>
<script type="text/javascript">
    $("#optionItems").click(function () {
        $('html, body').animate({
            scrollTop: $("#optionItemsDiv").offset().top
        }, 2000);
    });
    $("#requirements").click(function () {
        $('html, body').animate({
            scrollTop: $("#requirementsDiv").offset().top
        }, 2000);
    });
    $("#deposits").click(function () {
        $('html, body').animate({
            scrollTop: $("#depositsDiv").offset().top
        }, 2000);
    });
    $("#cancellations").click(function () {
        $('html, body').animate({
            scrollTop: $("#cancellationsDiv").offset().top
        }, 2000);
    });
    $("#top1").click(function () {
        $('html, body').animate({
            scrollTop: $("#titleDiv").offset().top
        }, 2000);
    });
    $("#top2").click(function () {
        $('html, body').animate({
            scrollTop: $("#titleDiv").offset().top
        }, 2000);
    });
    $("#top3").click(function () {
        $('html, body').animate({
            scrollTop: $("#titleDiv").offset().top
        }, 2000);
    });
    $("#top4").click(function () {
        $('html, body').animate({
            scrollTop: $("#titleDiv").offset().top
        }, 2000);
    });
    $("#top5").click(function () {
        $('html, body').animate({
            scrollTop: $("#titleDiv").offset().top
        }, 2000);
    });
</script>
