img.flyer-img{
    width:100%;
    border: 3px solid black;
}
.header-section{
    float:left;
    width:33.33%;
    height:100%;
    text-align:center;
}
ul.img-row{
    columns:4; 
    list-style-type:none; 
    text-align:center;
}
a.img-link{
    text-decoration: none;
}
a.img-link:hover{
    text-decoration:none;
}
span.price-range-span{
    font-weight:bold;
    position:absolute;
    background-color:white;
    border:1px solid black;
    padding-left:5px;
    padding-right:5px;
}
span.keyword-span{
    font-weight:bold;
    position:absolute;
    background-color:white;
    border:1px solid black;
    padding-left:5px;
    padding-right:5px;
}
@media only screen and (min-width : 1200px){
    img.vehicle-img{
       width: 260px;
    }
    span.price-range-span{
        left:197px;
        font-size:15px;
        margin-top:-22px;
    }
    span.keyword-span{
        font-size:15px;
    }
}
@media only screen and (max-width : 1199px){
    img.vehicle-img{
       width: 200px;
    }
    span.price-range-span{
        left:137px;
        font-size:15px;
        margin-top:-22px;
    }
    span.keyword-span{
        font-size:15px;
    }
}
@media only screen and (max-width : 992px){
    img.vehicle-img{
       width: 220px;
    }
    span.price-range-span{
        left:157px;
        font-size:15px;
        margin-top:-22px;
    }
    span.keyword-span{
        font-size:15px;
    }
}
@media only screen and (max-width : 768px) {
    span.price-range-span{
        left:unset;
        font-size:10px;
        margin-top:-14px;
    }
    span.keyword-span{
        font-size:10px;
    }
}
table.left-table{
    float:left;
    border-spacing:10px 10px;
    border-collapse:separate;
}
table.left-table td{
    border: 3px solid black;
}
div.quote-modal-dialog{
    background-color:white;
}
@media only screen and (min-width : 1200px){
    div.quote-modal-dialog{
        width:420px;
    }
    button.quote-modal-btn{
        margin-top:-20px;
    }
}
@media only screen and (max-width : 1199px){
    div.quote-modal-dialog{
        width:420px;
    }
    button.quote-modal-btn{
        margin-top:-20px;
    }
}
@media only screen and (max-width : 992px){
    div.quote-modal-dialog{
        width:420px;
    }
    button.quote-modal-btn{
        margin-top:-20px;
    }
}
@media only screen and (max-width : 768px){
    div.quote-modal-dialog{
        width:auto;
    }
    button.quote-modal-btn{
        margin-top:10px;
    }
}