@font-face{
    font-family:'MyHouseScript';
    src:url('../fonts/signpainter-housescript-webfont.eot');  /* IE9 Compat Modes*/
    src: url('../fonts/signpainter-housescript-webfont?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/signpainter-housescript-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/signpainter-housescript-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/signpainter-housescript-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/signpainter-housescript-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
h1, h2, h3, h4, h5, span{
    font-family:Lato;
    font-weight:bold;
    color:#FFFFFF;
}
@media only screen and (min-width : 1200px){
    div#main-content{
       margin-right:-15px;
    }
    div#left-content{
        border-right:2px solid grey;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    div#main-content{
       margin-right:-30px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    div#main-content{
       margin-right:-30px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
    div#main-content{
       margin-right:-30px;
    }
}
@media (max-width: 575.98px){
    div#main-content{
       margin-right:-30px;
    }
}
.fc-content span{
    color:inherit;
}
.form-custom{
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius:unset;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
p{
    font-family:Lato;
    color:#FCFCFC;
}
.poster{
    color:#FCFCFC;
    font-size:45px;
    font-family: MyHouseScript;
    padding-left:50px;
    padding-top:5px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight:normal;
}
ul.logo{
    margin-top:9px;
    float:right;
    padding-right:20px;
    list-style:none;
}
ul.logo li{
    float: left;
    padding-right:10px;
}
i.social-icon{
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border: 4px solid #FFFFFF;
    color: #FFFFFF;
    padding-top: 13px;
    background-color:#8a8a8a;
}
img.logo-img{
    height:60px;
    margin-top:30px;
    padding-left:30px;
}
img.logo-img-desktop{
    height:40px;
    margin-top:30px;
    padding-left:30px;
}
img.logo-img-tablet{
    height: 35px;
    margin-top: 20px;
    padding-left: 10px;
}
ul#menu-list{
    float:right;
    margin-top:50px;
    list-style:none;
}
ul#menu-list li{
    float: left;
    padding-right:25px;
}
ul#menu-list-desktop{
    float:right;
    margin-top:35px;
    list-style:none;
}
ul#menu-list-tablet{
    margin-top: 26px;
    list-style: none;
    margin-left: -45px;
}
ul#menu-list-desktop li{
    float: left;
    padding-right:20px;
}
ul#menu-list-tablet li{
    float: left;
    padding-right:16px;
}
span.menu-item{
    font-family: Lato;
    font-size: 15px;
    color: #020202;
    font-weight: bold;
    padding-right:10px;
}
span.menu-item-desktop{
    font-family: Lato;
    font-size: 15px;
    color: #020202;
    font-weight: bold;
    padding-right:5px;
}
span.menu-item-tablet{
    font-family: Lato;
    font-size: 13px;
    color: #020202;
    font-weight: bold;
    padding-right:0px;
}
img.payment-img {
    height:40px;
    margin-top:10px;
}
img.payment-img-tablet {
    height:40px;
    margin-top:3px;
}
a.footer-menu{
    font-size:12px;
    color:#f5f5f5;
    font-family: Lato;
    text-decoration:none;
    text-overflow: ellipsis; 
    display: block; 
    overflow: hidden; 
    white-space: nowrap;
    width: 200px; 
}
a.footer-menu:hover{
    color:yellow;
}
.footer-ul{
    list-style:none;
}
h5.footer-menu-list{
    padding-left:40px;
    font-family: Lato;
    font-weight: bold;
    color: #FFFFFF;
}
i.video-icons{
    font-size:45px;
    color:#FFFFFF;
    padding-bottom:3px;
    padding-top:3px;
    padding-left:20px;
}
ul.video-section{
    list-style:none;
}
ul.video-section li{
    float:left;
}
ul.video-section li span{
    font-size:25px;
}
div.video-div{
    align-content:center;
    text-align:center;
}
div.video-div img{
  height:250px;
  width:300px;
  padding-bottom:30px;
  padding-top:30px;
}
div.credit-div{
    align-content:center;
    text-align:center;
    padding-bottom:10px;
}
div.credit-div img{
    height:50px;
}
span.xs-poster{
    color:#FCFCFC;
    font-size:25px;
    font-family: MyHouseScript;
    padding-left:10px;
    padding-top:5px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight:normal;
}
ul.xs-logo{
    list-style:none;
    margin-top:9px;
    float:right;
}
ul.xs-logo li{
    float: left;
    padding-right:6px;
}
i.xs-social-icon{
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 4px solid #FFFFFF;
    color: #FFFFFF;
    padding-top: 7px;
    background-color:#8a8a8a;
}
.navbar-brand{
    font-size:15px;
}

#mobile-div{
    background-color: #222222;
    position: absolute; 
    right: 0;
    left: 150px;
    min-height: 100%;
    z-index:100;
    margin-right:-1px;
}
.nav > li {
    border-bottom: 2px solid #fff;
    padding-left:50px;
}
.navbar-nav > li > a{
    font-size:20px;
    cursor:pointer !important;
}
.search-bar .form-control{
    border-radius:50px;
}
.search-bar .btn{
    border-radius:50px;
}
.search-bar {
    width:300px;
}
label.custom-lbl{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 700;
    margin-top: 5px;
}
div.modal-content{
    background-color:#4B4B4B;
    margin-left:-70px;
    margin-right:-70px;
    border-radius:15px;
}
div.modal-content-mobile{
    background-color: #4B4B4B;
    border-radius: 15px;
    margin-right: 30px;
    margin-left: 0px;
}

div.modal-item{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
div.modal-item-mobile{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
img.modal-img{
    border-radius:6px;
    height:128px;
}
h6.modal-h6{
    color:black;
}
h5.modal-h5{
    color:black;
}
.modal-span{
    color: black;
    font-size: 12px;
    font-weight: normal;
}
div.modal-map{
    background:#4B4B4B; 
    height:128px; 
    border-radius:10px; 
    overflow:hidden; 
    position:relative;
}
button.btn-modal{
    background-color:#ff0000; 
    color:#fff; 
    margin-top:50px;
}
button.btn-modal-mobile{
    background-color:#ff0000; 
    color:#fff; 
    margin-top:25px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.loader {
    margin:0 auto;
    position:fixed;
    top:40%;
    z-index:15000;
    left: 0;
    bottom: 0;
    right: 0;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
button.btn-submit {
    height: 45px;
    width: 250px;
    font-size: 20px;
    background-color: #15a737;
    border-radius: 5px;
}
div.test {
    /*width: 182px;*/
    text-align: center;
}
.bold-round {
    font-family: 'Arial Rounded MT';
    font-weight: bolder;
    font-size: 17px;
    color: black;
}
.script {
    font-family: 'Brush Script MT';
    font-size: 19px;
    color: white;
}
a.nolineA{
    text-decoration: none !important;
}
p.rightbar:hover > span {
    color:red;
}
span.validate_failed span{
    color:red;
}
span.checkout_validate_failed span{
    color:red;
    padding-right:80px;
}
.right-bold-round {
    font-family: Lato;
    font-weight: bolder;
    font-size: 19px;
    color: black;
}
.right-script {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
#success_message{ display: none;}
ul#header-menu li a span{
    font-family: Lato;
    color: #020202;
    font-weight: bold;
}
div.vehicle-search-div{
    width:50%;
    float:right;
}
@media only screen and (min-width : 1200px){
    div.header-div{
        margin-left:-30px;
    }
    div.footer-div{
        margin-left:-30px;
    }
    img.header-logo{
        height:70px;
        margin-top:10px;
        padding-left:0px;
    }
    div.vehicle-search-div{
        margin-top:-37px;
        margin-right:0px;
        margin-bottom:-10px;
    }
    ul#header-menu{
        float:right;
        margin-top:10px;
        list-style:none;
    }
    ul#header-menu li{
        float: left;
        padding-right:25px;
    }
    ul#header-menu li a span{
        font-size: 15px;
        padding-right:10px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    div.header-div{
        margin-left:-30px;
        margin-right:-30px;
    }
    div.footer-div{
        margin-left:-30px;
        margin-right:-30px;
    }
    img.header-logo{
        height:70px;
        margin-top:10px;
        padding-left:0px;
    }
    div.vehicle-search-div{
        margin-top:-37px;
        margin-right:39px;
        margin-bottom:-10px;
    }
    ul#header-menu{
        float:right;
        margin-top:10px;
        list-style:none;
    }
    ul#header-menu li{
        float: left;
        padding-right:25px;
    }
    ul#header-menu li a span{
        font-size: 15px;
        padding-right:10px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    div.header-div{
        margin-left:-30px; 
        margin-right:-30px;
    }
    div.footer-div{
        margin-left:-30px;
        margin-right:-30px;
    }
    img.header-logo{
        height:70px;
        margin-top:10px;
        padding-left:20px;
    }
     div.vehicle-search-div{
        margin-top:-33px;
        margin-right:35px;
        margin-bottom:-12px;
    }
    ul#header-menu{
        float:right;
        margin-top:15px;
        list-style:none;
    }
    ul#header-menu li{
        float: left;
        padding-right:20px;
    }
    ul#header-menu li a span{
        font-size: 13px;
        padding-right:0px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
    div.header-div{
        margin-left:-30px;
        margin-right:-30px;
    }
    div.footer-div{
        margin-left:-30px;
        margin-right:-30px;
    }
    img.header-logo{
        height: 30px;
        margin-top: 20px;
        padding-left: 0px;
    }
    ul#header-menu{
        margin-top: 26px;
        list-style: none;
        margin-left: -45px;
    }
    ul#menu-list-tablet li{
        float: left;
        padding-right:16px;
    }
    ul#header-menu li a span{
        font-size: 13px;
        padding-right:0px;
    }
}
ul#header-menu li div{
    margin-top:-5px; 
    border:1px solid black; 
    border-radius:4px; 
    padding-top:4px; 
    padding-left:4px; 
    padding-right:4px;
}
ul#header-menu li div input{
    height:30px;
}
h5.poster-span{
    color:#FCFCFC;
    font-family: MyHouseScript;
    padding-top:5px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight:normal;
}
ul.footer-logo{
    list-style:none;
    margin-top:9px;
    float:right;
}
ul.footer-logo li{
    float:left;
}
i.footer-icon{
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
    background-color:#8a8a8a;
}

@media only screen and (max-width: 767px) {
    h5.poster-span{
        font-size:24px;
        margin-left:30px;
    }
    ul.footer-logo li{
        padding-right:10px;
    }
    i.footer-icon{
        width: 30px;
        height: 30px;
        font-size: 17px;
        padding-top: 4px;
        border: 2px solid #FFFFFF;
    }
    img.yelp-img{
        width: 30px;
        height:30px;
    }
}
@media only screen and (min-width: 768px) {
    h5.poster-span{
        font-size:45px;
        margin-left:20px;
    }
    ul.footer-logo li{
        padding-right:10px;
    }
    i.footer-icon{
        width: 50px;
        height: 50px;
        font-size: 25px;
        padding-top: 10px;
        border: 4px solid #FFFFFF;
    }
    img.yelp-img{
        width: 50px;
        height:50px;
    }
} 
@media only screen and (min-width: 992px) {
    h5.poster-span{
        font-size:45px;
        margin-left:10px;
    }
    ul.footer-logo li{
        padding-right:10px;
    }
    i.footer-icon{
        width: 50px;
        height: 50px;
        font-size: 25px;
        padding-top: 10px;
        border: 4px solid #FFFFFF;
    }
    img.yelp-img{
        width: 50px;
        height:50px;
    }
} 
@media only screen and (min-width: 1200px) {
    h5.poster-span{
        font-size:45px;
        margin-left:10px;
    }
    ul.footer-logo li{
        padding-right:6px;
    }
    i.footer-icon{
        width: 50px;
        height: 50px;
        font-size: 25px;
        padding-top: 10px;
        border: 4px solid #FFFFFF;
    }
    img.yelp-img{
        width: 50px;
        height:50px;
    }
}
ul.dropdown-menu li{
    width:100% !important; 
    padding-right:0px !important;
}
ul.dropdown-menu li a span{
    font-family: Lato !important;
    color: #020202 !important;
    font-weight:normal !important;
}
@media only screen and (max-width : 768px){
    img.mobile-logo{
        height:120px;
        margin-top:-160px;
    }
}
@media only screen and (max-width : 568px){
    img.mobile-logo{
        height:100px;
        margin-top:-140px;
    }
}
@media only screen and (max-width : 480px){
    img.mobile-logo{
        height:70px;
        margin-top:-110px;
    }
}

