<!--About Us View-->
<link href="~/Content/css/home.css" rel="stylesheet" />
<div class="row">
    <div class="row pre-header" style="padding-top:0px; ">
        <hr class="top-separate-line" />
        <img src="~/Content/images/AboutUs.png" class="img-responsive" />
        <br />
    </div>

    <!--START video range-->
    @Html.Partial("~/Views/Shared/_VideoSection.cshtml")
    <!--END video range-->
</div>    

