<!--Resources View-->
<link href="~/Content/css/home.css" rel="stylesheet" />
<div class="row">
    <div class="row pre-header">
        <hr class="hidden-xs" style="border:1px solid #eeeeee; margin-bottom:20px; margin-top:-10px;" />
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h1 style="color:#000000; font-size:30px;">Resources</h1>
                <br />
                <h3 style="color:#000000;">Books, Videos, DVD's</h3>
                <br />
                <span style="color:black;">RV Bookstore - Books, Videos, DVD's and more for RV ers</span>
                <br />
                <br />
                <a href="http://www.rvbookstore.com/" target="_blank">http://www.rvbookstore.com/</a>
                <br />
                <span style="color:black; font-weight:normal;">A online store with the best books and videos about recreational vehicles and the RV lifestyle.</span>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <hr style="border:1px solid grey; margin-bottom:20px; margin-top:-10px;" />
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h3 style="color:#000000;">Campgrounds</h3>
                <br />
                <span style="color:black;">eCampSite.com Camping Portal</span>
                <br />
                <br />
                <a href="http://www.ecampsite.com/" target="_blank">http://www.ecampsite.com/</a>
                <span style="color:black; font-weight:normal;">The webs premier resource for camping and RVing information including USA campgrounds and RV parks, RV resources, camping comedy, free campfire recipes, printable checklists and everything related to camping.</span>
                <br />
                <br />
                <a href="http://www.rvparkreviews.com/" target="_blank">http://www.rvparkreviews.com/</a>
                <span style="color:black; font-weight:normal;">To review what others have said about a RV park go to this web site and get the best information before you book</span>
                <br />
                <br />
                <span style="color:black;">KOA Kampgrounds of America, Inc.</span>
                <br />
                <br />
                <a href="http://www.koakampgrounds.com/" target="_blank">http://www.koakampgrounds.com/</a>
                <br />
                <span style="color:black; font-weight:normal;">Camping - KOA Campgrounds of America Directory - view our online campground directory to plan a camping vacation at one of our almost 500 full-service campgrounds and RV parks located in the U.S., Canada</span>
                <br />
                <br />
                <span style="color:black;">Trailer Life Directory</span>
                <br />
                <br />
                <a href="http://www.tldirectory.com/shop/display.cfm?productID=DD0005&subcat=2&deid=800&buid=2" target="_blank">Trailer Life Directory</a>
                <br />
                <a href="http://www.tldirectory.com/" target="_blank">Online Directory</a>
                <br />
                <span style="color:black; font-weight:normal;">The Trailer Life Directory offers a book and online directory of campgrounds throughout North America.  Each campground is rated with a list of amenities.</span>
                <br />
                <br />
                <span style="color:black;">Yogi Bear's Jellystone Park Campground Directory - Fun Family Camping</span>
                <br />
                <br />
                <a href="http://www.campjellystone.com/" target="_blank">http://www.campjellystone.com/</a>
                <br />
                <span style="color:black; font-weight:normal;">Campground directory for Yogi Bear's Jellsytone Park Camp-Resorts in the USA & Canada. Reserve your fun & relaxing family camping vacation with Yogi Bear & friends today! 1st rate amenities & activities. RV, camp or rent a cabin. Camp Jellystone - where you always camp with friends!</span>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <hr style="border:1px solid grey; margin-bottom:20px; margin-top:-10px;" />
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h3 style="color:#000000;">General Links</h3>
                <br />
                <span style="color:black;">US Dump Stations Locator</span>
                <br />
                <br />
                <a href="http://www.rvdumps.com" target="_blank">http://www.rvdumps.com</a>
                <br />
                <br />
                <span style="color:black;">MSN Maps & Directions</span>
                <br />
                <br />
                <a href="http://mappoint.msn.com/" target="_blank">mappoint.msn.com</a>
                <br />
                <span style="color:black; font-weight:normal;">Find a place and driving directions.</span>
                <br />
                <br />
                <span style="color:black;">The Good Sam Club</span>
                <br />
                <br />
                <a href="http://www.goodsamclub.com/" target="_blank">http://www.goodsamclub.com/</a>
                <br />
                <span style="color:black; font-weight:normal;">The Good Sam Club, with more than one million members, is the oldest, largest and best travel club for RV ers. Offering trip planning and discounts at most campgrounds. </span>
                <br />
                <br />
                <span style="color:black;">The Weather Channel</span>
                <br />
                <br />
                <a href="http://www.weather.com/activities/travel/?from=globalnav" target="_blank">http://www.weather.com/activities/travel/?from=globalnav</a>
                <br />
                <span style="color:black; font-weight:normal;">Current and Travel weather providing destination averages.</span>
                <br />
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
    </div>

    <!--START video range-->
    @Html.Partial("~/Views/Shared/_VideoSection.cshtml")
    <!--END video range-->
</div>

