<!--OptionalEquipment View-->
<link href="~/Content/css/home.css" rel="stylesheet" />
<div class="row">
    <div class="row pre-header">
        <hr class="hidden-xs" style="border:1px solid #eeeeee; margin-bottom:20px; margin-top:-10px;" />
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10" style="text-align:center;">
                <br />
                <br />
                <br />
                <span style="color:black; font-weight:normal;">We have many items to make your trip more enjoyable.</span>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10" style="border:1px solid">
                <div class="row" style="background-color: #4B4B4B;">
                    <div class="col-md-12">
                        <h1 style="font-size:20px; margin-top:10px;">Optional Equipment</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-5"><h5 style="color:black; font-weight:normal;">delivery minimum</h5></div>
                    <div class="col-md-5 col-sm-5 col-xs-5"><h5 style="color:black; font-weight:normal;">$100.00	Airport pick up minimum</h5></div>
                    <div class="col-md-2 col-sm-2 col-xs-2"><h5 style="color:black; font-weight:normal;">$100.00</h5></div>
                </div>
                <div class="row" style="background-color:#cccccc;">
                    <div class="col-md-5 col-sm-5 col-xs-5"><h5 style="color:black; font-weight:normal;">Generator (per day)</h5> </div>
                    <div class="col-md-5 col-sm-5 col-xs-5"><h5 style="color:black; font-weight:normal;">$29.00	Portable GPS (per day)</h5></div>
                    <div class="col-md-2 col-sm-2 col-xs-2"><h5 style="color:black; font-weight:normal;">$4.00</h5></div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-5"><h5 style="color:black; font-weight:normal;">Sway Bars/Hitch</h5> </div>
                    <div class="col-md-5 col-sm-5 col-xs-5"><h5 style="color:black; font-weight:normal;">$20.00	Trailer pick up (minimum)</h5></div>
                    <div class="col-md-2 col-sm-2 col-xs-2"><h5 style="color:black; font-weight:normal;">$0.00</h5></div>
                </div>
                <div class="row" style="background-color:#cccccc;">
                    <div class="col-md-5 col-sm-5 col-xs-5"><h5 style="color:black; font-weight:normal;">Miles incl. over from $0.0 to $1.00</h5> </div>
                    <div class="col-md-5 col-sm-5 col-xs-5"><h5 style="color:black; font-weight:normal;">$0.00	Bike Rack (4-bike)</h5></div>
                    <div class="col-md-2 col-sm-2 col-xs-2"><h5 style="color:black; font-weight:normal;">$35.00</h5></div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-5"><h5 style="color:black; font-weight:normal;">$50/pet</h5> </div>
                    <div class="col-md-5 col-sm-5 col-xs-5"><h5 style="color:black; font-weight:normal;">$50.00	Cleaning Fee after owner's use</h5></div>
                    <div class="col-md-2 col-sm-2 col-xs-2"><h5 style="color:black; font-weight:normal;">$0.00</h5></div>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10" style="text-align:center;">
                <br />
                <br />
                <span style="color:black; font-weight:normal;">Contact our office if you have any questions.</span>
                <br />
                <br />
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>

    <!--START video range-->
    @Html.Partial("~/Views/Shared/_VideoSection.cshtml")
    <!--END video range-->
</div>
