<!--Learn More View-->
<link href="~/Content/css/home.css" rel="stylesheet" />
<div class="row">
    <div class="row pre-header" style="padding-top:0px; height:714px;">
        <hr class="top-separate-line" />
        <h2 style="color:black; padding-left:45px;">Coming Soon</h2>
        <br />
    </div>

    <!--START video range-->
    @Html.Partial("~/Views/Shared/_VideoSection.cshtml")
    <!--END video range-->
</div>
