@media only screen and (min-width : 1200px){
    li.insurance_name{
       padding-left:50px;
    }
}
@media only screen and (max-width : 1199px){
    li.insurance_name{
       padding-left:50px;
    }
}
@media only screen and (max-width : 992px){
    li.insurance_name{
       padding-left:20px;
    }
}
@media only screen and (max-width : 768px){
    li.insurance_name{
       padding-left:0px;
    }
}
