<!--Insurance View-->
<link href="~/Content/css/home.css" rel="stylesheet" />
<div class="row">
    <div class="row pre-header" style="padding-top:0px;">
        <hr class="top-separate-line" />
        <div style="margin-top:-20px;">
            <img src="~/Content/images/Insurance head.png" class="img-responsive" />
            <div class="carousel-caption title insurance-watermark">
                <h1 style="font-size:16px; margin-top:0px;">Insurance</h1>
            </div>
        </div>
        <div class="work-vimeo-div">
            <h5 class="work-vimeo-title">A short message about Insurance from the President</h5>
            <div class="embed-responsive embed-responsive-16by9" style="text-align:center; margin-left:10%; margin-right:10%;">
                <iframe src="http://player.vimeo.com/video/256640400" width="640" height="360" frameborder="0"></iframe>
            </div>
        </div>
        <br />
        <div class="col-md-12">
            <div>@Html.Raw(File.ReadAllText(Server.MapPath("~/UserContent/Insurance.html")))</div>
        </div>
    </div>
    <div class="row" style="background-color:#ff0000; border-left:2px solid black;">
        <div class="col-lg-4"></div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <ul class="video-section">
                <li style="padding-top:9px;"><span style="font-size:20px;">Want to know more?&nbsp;&nbsp;</span><a target="_blank" href="http://www.ocregister.com/2015/09/17/rv-company-sees-spike-with-burning-man-station-offering-flex-fuel/"><img src="~/Content/images/i.png" style="height:25px; border:2px solid #FFFFFF; border-radius:50%; background-color:#FFFFFF; margin-top:-5px;" /></a></li>
                <li style="margin-top:9px; padding-left:60px;"><span style="font-size:20px;">Visit us on&nbsp;&nbsp;</span></li>
                <li style="margin-top:-10px; padding-left:60px;"><a target="_blank" href="http://www.youtube.com/ShareMyCoach"><i class="fa fa-youtube-square video-icons" style="padding-top:12px; margin-left:-50px;"></i></a></li>
                <li><a target="_blank" href="https://vimeo.com/132552690"><i class="fa fa-vimeo video-icons"></i></a></li>
            </ul>
        </div>
    </div>
    <!--START video range-->
    @Html.Partial("~/Views/Shared/_VideoSection.cshtml")
    <!--END video range-->
</div>

