<link href="~/Content/css/home.css" rel="stylesheet" />
<div class="row">
    <div class="row pre-header" style="padding-top:0px; height:714px;">
        <hr class="top-separate-line" />
        <div class="col-md-12">
            <h4 style="color:black; padding-left:45px;">Failed to send email</h4>
        </div>
        <br />
    </div>
    <!--START video range-->
    <div class="row pre-header" style="background-color:#FFFFFF;">
        <div class="col-lg-4 col-md-4 col-sm-6 video-div">
            <a target="_blank" href="https://vimeo.com/132552690"><img src="~/Content/images/sharemycoach.png" /></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 video-div">
            <a target="_blank" href="https://player.vimeo.com/video/152284628"><img src="~/Content/images/franchise.png" /></a>
        </div>
        <div class="col-lg-4 video-div">
            <a target="_blank" href="https://www.ocregister.com/2015/09/17/rv-company-sees-spike-with-burning-man-station-offering-flex-fuel/"><img src="~/Content/images/rv.png" /></a>
        </div>
    </div>
    <div class="row pre-header" style="background-color:#FFFFFF; text-align:center;">
        <div class="col-lg-2">
            <img src="~/Content/images/bbb.jpg" style="height:75px;" />
        </div>
        <div class="col-lg-2">
            <img src="~/Content/images/ifa.jpg" style="height:75px; margin-left:35px;" />
        </div>
        <div class="col-lg-2">
            <img src="~/Content/images/rvia.jpg" style="height:75px;" />
        </div>
        <div class="col-lg-4">
            <img src="~/Content/images/rvda.jpg" style="height:65px;" />
        </div>
        <div class="col-lg-2">
            <img src="~/Content/images/rvra.jpg" style="height:55px;" />
        </div>
    </div>
    <div class="row pre-header" style="background-color:#FFFFFF; text-align:center;">
        <br />
    </div>
    <!--END video range-->
</div>