<link href="~/Content/css/home.css" rel="stylesheet" />
<style>
    h1, h2, h3, h4, h5, p, span {
        color: black;
        font-weight: normal;
        font-family: Arial;
    }
</style>
<div class="row">
    <div class="row pre-header" style="padding-top:0px; height:714px;">
        <hr class="top-separate-line" />
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                @Html.Raw(ViewBag.Content)
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <br />
    </div>

    <!--START video range-->
    @Html.Partial("~/Views/Shared/_VideoSection.cshtml")
    <!--END video range-->
</div>
