@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Reviews.SharemyCoach.com</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link href="~/Content/images/smclogo.png" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div style="margin-top:100px; margin-bottom:100px;">
                <img src="/Content/images/Logo.png" class="img-responsive" style="margin:0 auto;">
            </div>
            <h3 style="text-align:center;">Click the site below to leave a Review</h3>
            <p style="text-align:center; margin-top:100px;">
                <a id="g_btn"><img src="../../Content/images/GButton1.png" /></a>
            </p>
            <p style="text-align:center; margin-top:30px;">
                <a id="f_btn" href="#"><img src="../../Content/images/FacebookButtonGreyOnly.png" /></a>
            </p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        document.getElementById('g_btn').addEventListener('mousedown', mouseDown);
        document.getElementById('g_btn').addEventListener('mouseup', mouseUp);
        function mouseDown()
        {
            document.getElementById('g_btn').innerHTML = '<img src="../../Content/images/GButton2.png" />';
        }
        function mouseUp()
        {
            document.getElementById('g_btn').innerHTML = '<img src="../../Content/images/GButton1.png" />'
            window.open('https://www.google.com/search?source=hp&ei=knS_XND5HMfZ-gSvg6SIAw&q=sharemycoach&oq=sharemyc&gs_l=psy-ab.1.1.0l3j0i10l3j0l3j0i10.1631.3274..4464...1.0..0.61.432.9......0....1..gws-wiz.....0..0i131.BsLcXl-DgpM#lrd=0x80dd28ea312e2841:0x8bebf484fb739399,3,,,');
        }
    </script>
</body>
</html>
