<!--Show Me How View-->
<link href="~/Content/css/home.css" rel="stylesheet" />
<div class="row">
    <div class="row pre-header" style="padding-top:0px;">
        <hr class="top-separate-line" />
        <div style="margin-top:-20px;">
            <img src="~/Content/images/ShowMeHow.png" class="img-responsive" />
        </div>
        <div class="work-vimeo-div">
            <div class="embed-responsive embed-responsive-16by9" style="text-align:center; margin-left:10%; margin-right:10%;">
                <iframe src="https://player.vimeo.com/video/152284628" width="640" height="360" frameborder="0"></iframe>
            </div>
        </div>
        <br />
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <br />
                    <h1 style="color:black; font-weight:bold; font-size:25px;">Attention RV Owners</h1>
                    <br />
                    <span style="color:black; font-weight:bold; font-size:15px;">Make Money with Your RV!</span>
                    <br />
                    <br />
                    <span style="color:black; font-weight:normal;">ShareMyCoach.com LLC can help reduce your ownership expenses. Now with 8 franchise locations it has never been easier to put your late model RV to work “Making Money for You”. With our franchise model we are sure to not be far from where you live. With SMC we will store, maintain and market your vehicle and you get to use it whenever you want.</span>
                    <br />
                    <br />
                    <span style="color:black; font-weight:normal;">NO ONLINE RENTAL SERVICES CAN SAY OR DO THAT FOR YOU!</span>
                    <br />
                    <br />
                    <span style="color:black; font-weight:normal;">Now serving Southern California, Northern California, Arizona and soon, Texas, Florida and Colorado. ShareMyCoach.com can help you make money with your RV! Our rental program can help you offset your monthly payments and maintenance and storage costs. All while providing a possible tax write off as well! With our full-time dedicated management program, you would be able to use your privately-owned RV at any time it is not out on a rental. And, when it is on a rental you can use your earned credit towards a different RV from the available inventory. Your RV will be well maintained and ready to go for any adventure that comes your way. Let the pros from SMC be your management partner all for less than you might think.</span>
                    <br />
                    <br />
                    <span style="color:black; font-weight:normal;">Let SMC do the maintenance; you enjoy your RV when you wish.</span>
                    <br />
                    <br />
                    <span style="color:black; font-weight:normal;">
                        We take care of all standard maintenance at no direct cost to you: oil and filter changes, tire rotation and replacement when needed, battery service and replacement and much more.
                        With an online advertisement service, you must pay for all expenses and repairs. With SMC we share the expenses and you never need to pay out of pocket. Online renters will never worry about differed maintenance again. And when your coach is on a rental we take the calls, not you! 24/7 service from professionals that know your coach. SMC cares for your vehicle like a partner should.
                    </span>
                    <br />
                    <br />
                    <span style="color:black; font-weight:bold; font-size:15px;">Ready to put your RV to work?</span>
                    <br />
                    <br />
                    <span style="color:black; font-weight:normal;">If you own a late model Class-A, Class-C, Class-B, Travel Trailer or Toy Hauler contract us about joining SMC. Our owners receive a split of the net income from the daily rental income. Stop paying for repairs and storage and start making income from your RV investment! If you wish to talk to some of the other owners in our program let us know and we will be happy to give you a list of phone numbers and names for you to check up on our system. We also encourage you to check out our excellent Yelp reviews and our A+ BBB standings.</span>
                    <br />
                    <br />
                    <span style="color:black; font-weight:normal;">Let SMC eliminate the hassles and RV expenses when renting you RV.</span><br />
                    <span style="color:black; font-weight:normal;">* Renter insurance with $1,000,000 liability coverages available.</span><br />
                    <span style="color:black; font-weight:normal;">* You receive a monthly and annual statements for reporting.</span><br />
                    <span style="color:black; font-weight:normal;">* We maintain your vehicle for both the rentals and your use.</span><br />
                    <span style="color:black; font-weight:normal;">* We advertise and market your RV at no direct cost to you.</span><br />
                    <span style="color:black; font-weight:normal;">* We maximize your earnings by sharing repair costs.</span><br />
                    <span style="color:black; font-weight:normal;">* We have gated and insured storage lots, no more storing at home.</span><br />
                    <span style="color:black; font-weight:normal;">* We get your RV ready for your use and clean it upon return too!</span><br />
                    <span style="color:black; font-weight:normal;">* Want to book a rental in a bigger or smaller RV, well with SMC you can.</span>
                    <br />
                    <br />
                    <span style="color:black; font-weight:bold; font-size:15px;">TRY THAT ONLINE SYSTEMS!</span>
                    <br />
                    <br />
                    <span style="color:black; font-weight:normal;">For more information on how to add your RV into our managed fleet and make some money on your investment, give us a call and we can provide all the information and steps to have our rental program work for you! To speak to the founder and CEO of ShareMyCoach  call</span>
                    <br />
                    <br />
                    <span style="color:black; font-weight:normal;"><b>714-747-6684</b> or send a message to: <b>joehill@ShareMyCoach.com</b> </span>
                    <br />
                    <br />
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color:#ff0000; border-left:2px solid black;">
        <div class="col-lg-4"></div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <ul class="video-section">
                <li style="padding-top:9px;"><span style="font-size:20px;">Want to know more?&nbsp;&nbsp;</span><a target="_blank" href="http://www.ocregister.com/2015/09/17/rv-company-sees-spike-with-burning-man-station-offering-flex-fuel/"><img src="~/Content/images/i.png" style="height:25px; border:2px solid #FFFFFF; border-radius:50%; background-color:#FFFFFF; margin-top:-5px;" /></a></li>
                <li style="margin-top:9px; padding-left:60px;"><span style="font-size:20px;">Visit us on&nbsp;&nbsp;</span></li>
                <li style="margin-top:-10px; padding-left:60px;"><a target="_blank" href="http://www.youtube.com/ShareMyCoach"><i class="fa fa-youtube-square video-icons" style="padding-top:12px; margin-left:-50px;"></i></a></li>
                <li><a target="_blank" href="https://vimeo.com/132552690"><i class="fa fa-vimeo video-icons"></i></a></li>
            </ul>
        </div>
    </div>
    <!--START video range-->
    @Html.Partial("~/Views/Shared/_VideoSection.cshtml")
    <!--END video range-->
</div>

