<!--Contact View-->
@{ 
    var information = ViewBag.SelectedLocationInfos;
}
<link href="~/Content/css/home.css" rel="stylesheet" />
<div class="row">
    <div class="row pre-header" style="padding-top:0px; height:714px;">
        <hr class="top-separate-line" />
        <h3 style="color:black; padding-left:45px; font-weight:normal;">
            Thank you for submitting the request.<br />An email has been sent to @information.FriendlyCompanyName. 
            Expect an agent to contact you within 24 hours, on normal work days.<br />If you need immediate assistance send a text to @information.PrimaryPhone.
        </h3>
    </div>
    <!--START video range-->
    @Html.Partial("~/Views/Shared/_VideoSection.cshtml")
    <!--END video range-->
</div>
