<link href="~/Content/css/home.css" rel="stylesheet" />
<div class="row">
    <div class="row pre-header" style="padding-top:0px; padding-bottom:180px;">
        <hr class="top-separate-line" style="margin-bottom:150px;" />
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <h1 style="color:#333; font-family:Lato; font-size:50px;">Whoops!</h1>
            <br />
            <h2 style="color:#333; font-family:Lato;">Looks like we've taken a wrong turn.</h2>
            <br />
            <h2 style="color:#333; font-family:Lato;">That page couldn't be found.</h2>
            <br />
            <a href="@Url.Action("Index", "Home")" class="btn btn-danger" style="border-radius:0px; width:100%; color:white; font-size:15px; box-shadow:8px 8px 4px #333;"><b>Return to</b> <b style="font-family:Lato; font-size:20px;">ShareMyCoach.com</b></a>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <img src="~/Content/images/RV 404.png" class="img-responsive" />
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
</div>
